<template>
  <span>
    <b-link
      v-if="data.url"
      :href="erUrl"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{ data.vendor.name }}/{{ data.name }}({{ data.version }})
    </b-link>
    <span v-else>
      {{ data.vendor.name }}/{{ data.name }}({{ data.version }})
    </span>
  </span>
</template>

<script>
import {sanitizeUrl} from "@braintree/sanitize-url";
export default {
  props: ["data"],
  computed: {
    erUrl() {
      return sanitizeUrl(this.data.url);
    },
  },
};
</script>