<template>
  <div style="line-height: 1.25em">
    {{ data.file }} :
    <b-badge pill v-if="data.start_line" variant="light">{{
      data.start_line
    }}</b-badge>
    <span
      v-if="
        data.start_line && data.end_line && data.start_line !== data.end_line
      "
      >-</span
    >
    <b-badge
      pill
      v-if="data.end_line && data.start_line !== data.end_line"
      variant="light"
      >{{ data.end_line }}</b-badge
    >
    <br v-if="data.start_line && (data.class || data.method)" />
    <span v-if="data.class">class</span>
    <b-badge pill variant="light" v-if="data.class">{{ data.class }}</b-badge>
    <span v-if="data.method">method</span>
    <b-badge pill variant="light" v-if="data.method">{{ data.method }}</b-badge>
  </div>
</template>
<script>
export default {
  props: ["data"],
};
</script>
