<template>
    <b-card :header="data.summary">
    <b-card>
        {{data.diff}}
    </b-card>
    <b-list-group>
        <b-list-group-item v-for="f in data.fixes" :key="f['cve:string']">
            {{f['cve:string']}}
        </b-list-group-item>
    </b-list-group>
    </b-card>
</template>

<script>
export default {
  props: ["data"],
};
</script>