<template>
  <b-card class="m-3">
    <b-badge variant="primary">
      version <b-badge pill variant="light">{{ data.version }}</b-badge>
    </b-badge>
    <b-card header="Scan" class="m-1" v-if="data.scan">
      <Scan :data="data.scan" />
    </b-card>
    <b-card
      v-if="data.vulnerabilities && data.vulnerabilities.length > 0"
      header="Vulnerabilities"
      class="m-1"
    >
      <Vulnerability
        v-for="v in data.vulnerabilities"
        :key="v.id"
        :data="v"
        class="m-1"
      />
    </b-card>
    <b-card
      v-if="data.remediations && data.remediations.length > 0"
      header="Remediations"
      class="m-1"
    >
      <Remediation
        v-for="r in data.remediations"
        :key="r.summary"
        :data="r"
        class="m-1"
      />
    </b-card>
  </b-card>
</template>

<script>
import Vulnerability from "./vulnerability.vue";
import Remediation from "./remediation.vue";
import Scan from "./scan.vue";
export default {
  props: ["data"],
  components: { Scan, Vulnerability, Remediation },
};
</script>