<template>
  <div>
    <b-badge variant="dark">
      Type <b-badge pill variant="light">{{ data.type }}</b-badge> </b-badge
    ><br />
    <b-badge :variant="status">
      Status <b-badge pill variant="light">{{ data.status }}</b-badge> </b-badge
    ><br />
    <div>
        Time: {{ data.start_time }} - {{ data.end_time }}
    </div>
    <div v-if="data.analyzer">
      Analyzer:<Er :data="data.analyzer" />
    </div>
    <div>
      Scanner:<Er :data="data.scanner" />
    </div>
  </div>
</template>

<script>
import Er from "./er.vue";
export default {
  props: ["data"],
  components: {Er},
  computed: {
    status() {
      const statusDict = {
        success: "success",
        failure: "danger",
      };
      return statusDict[this.data.status];
    },
  },
};
</script>