<template>
  <div>
    <div class="fixed-top m-2" style="left: initial" id="repo">
      <b-link
        href="https://gitlab.com/femshima/sast_visualizer"
        target="_blank"
        rel="noopener noreferrer"
        class="pull-right"
      >
        <b-avatar size="3em">
          <img
            src="@/assets/gitlab-icon-rgb.svg"
            alt="Repository of this project"
          />
        </b-avatar>
      </b-link>
    </div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show" class="m-3">
      <b-form-group
        id="input-group-1"
        label="SAST Report:"
        label-for="input-1"
        description="URL to the GitLab SAST report."
      >
        <b-form-input
          id="input-1"
          v-model="form.url"
          type="url"
          placeholder="Enter SAST Report URL"
        />
      </b-form-group>
      <span>or</span>
      <b-form-file
        v-model="form.file"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
      />
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <SAST v-if="data !== null" :data="data" />
  </div>
</template>

<script>
import axios from "axios";
import SAST from "./view/SAST.vue";
import GitLab from "../assets/gitlab-icon-rgb.svg";
export default {
  components: { SAST, GitLab },
  data() {
    return {
      form: {
        url: "",
        file: null,
      },
      data: null,
      show: true,
    };
  },
  methods: {
    async onSubmit(event) {
      event.preventDefault();
      if (this.form.url) {
        this.data = null;
        const res = await axios.get(this.form.url);
        this.data = res.data;
      } else if (this.form.file) {
        this.data = null;
        const res = await this.form.file.text();
        this.data = JSON.parse(res);
      }
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.url = "";
      this.data = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>